# this section is for basic bmi settings
[bmi]
# uid is given so that images dont clash in ceph pool
uid = <unique number>
service = <true or false>

# this section is for db settings
[db]
path = <location of sqlite db>

# This section is filesystem related config
[fs]
id = <id in ceph>
pool = <the ceph pool to use>
conf_file = <location of ceph config file
keyring = <location of ceph key ring>

[driver]
net_isolator = <driver to load>
iscsi = <driver to load>
fs = <driver to load>

# This section is for network isolator (HIL) related config
[net_isolator]
url = <base url for hil>

# This section is for iscsi related config
[iscsi]
ip = <ip of iscsi server>
password = <sudo password for iscsi_update script>

# this section is for rpc server config
[rpc]
name_server_ip = <ip of nameserver>
name_server_port = <port of nameserver>
rpc_server_ip = <ip of rpc server>
rpc_server_port = <port of rpc server>

# this section is for specifying tftp settings
[tftp]
pxelinux_path = <path to pxelinux.cfg>
ipxe_path = <path to location of ipxe files>

# this section is for http config
[rest_api]
ip = <ip to bind to>
port = <port to bind to>

# this section is for logs
[logs]
path = <logs folder url>
debug = <true or false for debug mode>
verbose = <true or false for verbose mode>

# Tests section for unit tests (Optional)
[test]
# All Parameters for tests
# Should not be there in Production
