# this section is for basic bmi settings
[bmi]
# uid is used to prevent clashing of BMIs that use the same Ceph Pool. 
# It is the responsibility of the admin to ensure that uid is unique.
# service should be set to True if BMI is deployed as a service. 
# Set it to False for now as there are some glitches.
uid = <unique number>
service = <true or false>

# this section is for db settings
[db]
path = <location of sqlite db>

# This section is filesystem related config
[fs]
# id is the ceph id which has access to the pool
# pool is the ceph pool to use for storing images
# conf_file is the path to the ceph conf file
# keyring is the path to the keyring file
id = <id in ceph>
pool = <the ceph pool to use>
conf_file = <location of ceph config file
keyring = <location of ceph key ring>

[driver]
# iscsi is the iscsi driver to load
# fs is the filesystem to use
# net_isolator is the name of the network isolator to use. It connects the node
# a network on which BMI cna provision. We require this to have multi-tenancy
# while provisioning. We use [HIL](http://hil.readthedocs.io/en/latest/) for
# network isolation. 
net_isolator = <driver to load>
iscsi = <driver to load>
fs = <driver to load>

# This section is for network isolator (HIL) related config
[net_isolator]
url = <base url for hil>

# This section is for iscsi related config
[iscsi]
# ip is the ip of the iscsi server on the provisionion network
# password is the sudo password for the VM (will be removed)
ip = <ip of iscsi server>
password = <sudo password for iscsi_update script>

# this section is for rpc server config
[rpc]
# name_server is the ip and port to which the Name Server binds to
# rpc_server is the ip and port to which the RPC server binds to (The end which
# calls einstein)
# checkout [pyrp](https://pypi.org/pypi/Pyro4) to know more about it.
name_server_ip = <ip of nameserver>
name_server_port = <port of nameserver>
rpc_server_ip = <ip of rpc server>
rpc_server_port = <port of rpc server>

# this section is for specifying tftp settings
[tftp]
# pxelinux_path is the path to the pxelinux.cfg folder
# ipxe_path is the path to the location where ipxe files should be created
# (root of tfpboot folder)
pxelinux_path = <path to pxelinux.cfg>
ipxe_path = <path to location of ipxe files>

# this section is for API server configuration
[rest_api]
# bind_ip 
ip = <ip to bind to>
port = <port to bind to>

# this section is for logs
[logs]
# path is the folder where logs should be generated
# debug enables debug logs
# verbose prints logs to screen
path = <logs folder url>
debug = <true or false for debug mode>
verbose = <true or false for verbose mode>

# Tests section for unit tests (Optional)
[test]
# All Parameters for tests
# Should not be there in Production
